<div class="banner-nico" style="background-image: url(<%= @cocktail.imageUrl %>)">
  <div class="container-nico">
    <h2 class="cocktail-name-show"><%= @cocktail.name %></h2>
  </div>
</div>

<div class="container-nico">
  <div class="d-flex justify-content-between cocktail-content">
    <div class="description-bloc">
      <%= simple_format(@cocktail.description) %>
    </div>
    <div class="infos-bloc">
      <div class="ingredients-bloc">
        <div class="ingredient-list-name">
          <h3>Ingredients</h3>
        </div>
        <div class="d-flex justify-content-between glasses">
          <p><strong>Glasses:</strong></p>
          <div class="actions">
            <a class="btn round-bordered incrementer remove-participant" data-offset="-1">-</a>
            <span id ="counter" data-count="1">1</span>
            <a class="btn round-bordered incrementer add-participant" data-offset="1">+</a>
          </div>
        </div>
        <% @cocktail.doses.each do |dose| %>
          <div class="ingredients d-flex justify-content-between">
            <span class='dose'></span>
            <div><strong><%= dose.ingredient.name %>:</strong> <span class="quantity" data-dose="<%= dose.quantity %>"><%= dose.quantity %></span> <%= dose.mesure %></div>
            <div>
              <%= link_to edit_dose_path(dose.id) do %>
                <i class="fas fa-pen blue"></i>
              <% end %>
              <%= link_to dose_path(dose.id), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="fas fa-trash blue"></i>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="add-ingredient"><%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail) %></div>
      </div>
    <div class="btn-modifiers">
      <%= link_to edit_cocktail_path do %>
        <div class="edit">
          <p>Edit cocktail</p>
        </div>
      <% end %>
      <%= link_to cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure?" } do %>
        <div class="remove">
          <p>Delete cocktail</p>
        </div>
      <% end %>
    </div>
    </div>
  </div>
</div>
